<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<?include WixVer.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- Referenced by project registration. -->
        <DirectoryRef Id="MSBuildWixVersionedFolder" />

        <PropertyRef Id="LATEST_DEVENV_EXE_COMMAND" />

        <ComponentGroup Id="FileAssociationComponents" Directory="BinFolder">
            <!--
                File extension registration

                Note that we're keeping the versioned progid the same
                The properties are used here so that if a user installs Votive
                on a system with multiple versions of VS installed, the file
                associations will be directed to the latest version of VS.
            -->
            <Component>
                <!-- Icons to use for WiX file types -->
                <File Id="private ProjectFile.ico" Source="Votive\Icons\ProjectFile.ico" />

                <ProgId Id="WindowsInstallerXml.wixprojfile.$(var.WixMajorMinor)" Description="WiX Project File" Icon="ProjectFile.ico">
                    <Extension Id="wixproj" ContentType="text/plain">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Id="private ProductFile.ico" Source="Votive\Icons\ProductFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxsfile.$(var.WixMajorMinor)" Description="WiX Source File" Icon="ProductFile.ico">
                    <Extension Id="wxs" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Id="private IncludeFile.ico" Source="Votive\Icons\IncludeFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxifile.$(var.WixMajorMinor)" Description="WiX Include File" Icon="IncludeFile.ico">
                    <Extension Id="wxi" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Id="private LocalizationFile.ico" Source="Votive\Icons\LocalizationFile.ico" />

                <ProgId Id="WindowsInstallerXml.wxlfile.$(var.WixMajorMinor)" Description="WiX Localization File" Icon="LocalizationFile.ico">
                    <Extension Id="wxl" ContentType="text/xml">
                        <Verb Id="Open" Command="[LATEST_DEVENV_EXE_COMMAND]" TargetProperty="LATEST_DEVENV_EXE" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component>
                <File Id="private WixLibraryFile.ico" Source="Votive\Icons\WixLibraryFile.ico" />

                <ProgId Id="WindowsInstallerXml.wixlibfile.$(var.WixMajorMinor)" Description="WiX Library File" Icon="WixLibraryFile.ico">
                    <Extension Id="wixlib" ContentType="text/xml" />
                </ProgId>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <Property Id="LATEST_DEVENV_EXE" Secure="yes" />
        <Property Id="LATEST_DEVENV_EXE_COMMAND" Secure="yes" />

        <PropertyRef Id="VS2010DEVENV" />
        <PropertyRef Id="VS2012DEVENV" />
        <PropertyRef Id="VS2013DEVENV" />
        <PropertyRef Id="VS2015DEVENV" />

        <CustomAction Id="CA_SetLatestDevenv_2010" Property="LATEST_DEVENV_EXE" Value="[VS2010DEVENV]"/>
        <CustomAction Id="CA_SetLatestDevenv_2012" Property="LATEST_DEVENV_EXE" Value="[VS2012DEVENV]" />
        <CustomAction Id="CA_SetLatestDevenv_2013" Property="LATEST_DEVENV_EXE" Value="[VS2013DEVENV]" />
        <CustomAction Id="CA_SetLatestDevenv_2015" Property="LATEST_DEVENV_EXE" Value="[VS2015DEVENV]" />

        <CustomAction Id="CA_SetLatestDevenvCommand_2010" Property="LATEST_DEVENV_EXE_COMMAND" Value="&amp;Open in Visual Studio 2010" />
        <CustomAction Id="CA_SetLatestDevenvCommand_2012" Property="LATEST_DEVENV_EXE_COMMAND" Value="&amp;Open in Visual Studio 2012" />
        <CustomAction Id="CA_SetLatestDevenvCommand_2013" Property="LATEST_DEVENV_EXE_COMMAND" Value="&amp;Open in Visual Studio 2013" />
        <CustomAction Id="CA_SetLatestDevenvCommand_2015" Property="LATEST_DEVENV_EXE_COMMAND" Value="&amp;Open in Visual Studio 2015" />

        <!-- Install Sequences -->
        <InstallExecuteSequence>
            <Custom Action="CA_SetLatestDevenv_2010" After="CostFinalize"><![CDATA[VS2010DEVENV AND NOT VS2012DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenv_2012" After="CostFinalize"><![CDATA[VS2012DEVENV AND NOT VS2013DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenv_2013" After="CostFinalize"><![CDATA[VS2013DEVENV AND NOT VS2015DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenv_2015" After="CostFinalize"><![CDATA[VS2015DEVENV]]></Custom>

            <Custom Action="CA_SetLatestDevenvCommand_2010" After="CostFinalize"><![CDATA[VS2010DEVENV AND NOT VS2012DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenvCommand_2012" After="CostFinalize"><![CDATA[VS2012DEVENV AND NOT VS2013DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenvCommand_2013" After="CostFinalize"><![CDATA[VS2013DEVENV AND NOT VS2015DEVENV]]></Custom>
            <Custom Action="CA_SetLatestDevenvCommand_2015" After="CostFinalize"><![CDATA[VS2015DEVENV]]></Custom>
        </InstallExecuteSequence>
    </Fragment>
</Wix>
