<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->



<?include WixVer.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:swid="http://wixtoolset.org/schemas/v4/wxs/tag">
    <Product Id="*" Name="!(loc.ShortProduct) v$(var.WixMajorMinor) Visual Studio Integration" Language="1033" Manufacturer="!(loc.Company)"
             Version="$(var.WixVersion)" UpgradeCode="FCF6A16A-DB35-431B-A5DC-69C3DB16D7E0">

        <Package Compressed="yes" InstallerVersion="200" SummaryCodepage="1252" InstallScope="perMachine" />
        <swid:Tag Regid="regid.2008-09.org.wixtoolset" Type="component" />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." />

        <MediaTemplate CabinetTemplate="votiv{0}.cab" />

        <Feature Id="VotiveFeature" Title="Votive 201x" Level="1">
            <?if $(var.BuildVotive2010)=true ?>
            <Feature Id="Intellisense2010" Title="IntelliSense 2010" Description="Schema files for IntelliSense in the Visual Studio 2010 editor" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2010DEVENV OR VS2010_ROOT_FOLDER OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2010SchemaComponents" />
            </Feature>

            <Feature Id="Votive2010" Title="Project Templates 2010" Description="Votive Package for Visual Studio 2010" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2010DEVENV OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2010Components" />
                <ComponentGroupRef Id="FileAssociationComponents" />
            </Feature>

            <Feature Id="Intellisense2012" Title="IntelliSense 2012" Description="Schema files for IntelliSense in the Visual Studio 2012 editor" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2012DEVENV OR VS2012_ROOT_FOLDER OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2012SchemaComponents" />
            </Feature>

            <Feature Id="Votive2012" Title="Project Templates 2012" Description="Votive Package for Visual Studio 2012" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2012DEVENV OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2012Components" />
                <ComponentGroupRef Id="FileAssociationComponents" />
            </Feature>

            <Feature Id="Intellisense2013" Title="IntelliSense 2013" Description="Schema files for IntelliSense in the Visual Studio 2013 editor" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2013DEVENV OR VS2013_ROOT_FOLDER OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2013SchemaComponents" />
            </Feature>

            <Feature Id="Votive2013" Title="Project Templates 2013" Description="Votive Package for Visual Studio 2013" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2013DEVENV OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2013Components" />
                <ComponentGroupRef Id="FileAssociationComponents" />
            </Feature>

            <Feature Id="Intellisense2015" Title="IntelliSense 2015" Description="Schema files for IntelliSense in the Visual Studio 2015 editor" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2015DEVENV OR VS14_ROOT_FOLDER OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2015SchemaComponents" />
            </Feature>

            <Feature Id="Votive2015" Title="Project Templates 2015" Description="Votive Package for Visual Studio 2013" AllowAdvertise="no" Display="expand" InstallDefault="local" Level="0" TypicalDefault="install">
                <Condition Level="1">VS2015DEVENV OR REMOVE</Condition>
                <ComponentGroupRef Id="Votive2015Components" />
                <ComponentGroupRef Id="FileAssociationComponents" />
            </Feature>
            <?endif?>
        </Feature>
    </Product>
</Wix>
