// Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information.

#define VER_APP
#define VER_ORIGINAL_FILENAME "md2html.exe"
#define VER_INTERNAL_NAME "md2html"
#define VER_FILE_DESCRIPTION "WiX Toolset md2html"
#include "wix.rc"

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "md2html.exe.manifest"
