<?xml version='1.0' encoding='utf-8'?>
<!--
  <copyright file="NetFx45AsPrereq.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
    <?define NetFx45EulaLink =  http://go.microsoft.com/fwlink/?LinkID=260867 ?>
    <?define NetFx45WebId = NetFx45Web ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx45WebId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx45WebId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx45WebId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx45EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
    
    <?define NetFx45RedistId = NetFx45Redist ?>
    <Fragment>
        <PackageGroup Id="$(var.NetFx45RedistId)AsPrereq">
            <PackageGroupRef Id="$(var.NetFx45RedistId)" />
        </PackageGroup>
        
        <CustomTable Id='WixMbaPrereqInformation'>
            <Row>
                <Data Column='PackageId'>$(var.NetFx45RedistId)</Data>
                <Data Column='LicenseUrl'>$(var.NetFx45EulaLink)</Data>
            </Row>
        </CustomTable>
    </Fragment>
</Wix>
