<?xml version='1.0' encoding='utf-8'?>
<!--
  <copyright file="Bundle.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->

<?include WixVer.wxi ?>

<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'
     xmlns:bal='http://wixtoolset.org/schemas/v4/wxs/bal'
     xmlns:util='http://wixtoolset.org/schemas/v4/wxs/util'>

    <Bundle Name='WiX Settings Browser v$(var.WixMajorMinor)' Manufacturer='Outercurve Foundation'
            Version='$(var.WixVersion)' UpgradeCode='FDCCE136-4E10-40c0-AC67-319D2ACA5147'
            IconSourceFile='ProjectFile.ico' SplashScreenSourceFile='SplashScreen.bmp'
            AboutUrl='http://wixtoolset.org' UpdateUrl='http://wixtoolset.org/releases/feed/v4.0'
            Compressed='yes'>

        <BootstrapperApplicationRef Id='WixStandardBootstrapperApplication.HyperlinkLicense'>
            <bal:WixStandardBootstrapperApplication
                LicenseUrl="http://wix.codeplex.com/license" />
        </BootstrapperApplicationRef>

        <Variable Name='InstallFolder' Type='string' Value='[ProgramFilesFolder]WiX Settings Browser v$(var.WixMajorMinor)' />

        <Chain>
          <MsiPackage Id='WixCfgBrowser' Vital='yes' Name='data\Browse.msi' SourceFile='data\Browse.msi'>
                <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
          </MsiPackage>
        </Chain>
    </Bundle>
</Wix>
