//-------------------------------------------------------------------------------------------------
// <copyright file="browse.rc" company="Outercurve Foundation">
//   Copyright (c) 2004, Outercurve Foundation.
//   This software is released under Microsoft Reciprocal License (MS-RL).
//   The license and further copyright text can be found in the file
//   LICENSE.TXT at the root directory of the distribution.
// </copyright>
//
// <summary>
// Cfg browse resource file.
// </summary>
//-------------------------------------------------------------------------------------------------

#define VER_APP
#define VER_ORIGINAL_FILENAME "CfgBrowser.exe"
#define VER_INTERNAL_NAME "CfgBrowser"
#define VER_FILE_DESCRIPTION "Cfg Browser"
#include "wix.rc"
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BROWSE_RES_THEME_FILE RCDATA "thm.xml"
BROWSE_RES_EN_US_LOC_FILE RCDATA "en-us.wxl"
BROWSE_RES_IMAGE_GREEN_CHECK RCDATA "images\\GreenCheckTiny.bmp"
BROWSE_RES_IMAGE_RED_X RCDATA "images\\RedXTiny.bmp"
MainIcon ICON "ProjectFile.ico"
